body {
    background-color: deepskyblue;
}
#imgHeader {
    border: 1px solid black;
    border-radius: 20px;
    height: 200px;
    width: 100%;
    background:url(imagens/pexels-nikolaos-dimou-1250289.jpg) no-repeat center center/cover;
    line-height: 150px;
}
#conteudo {  
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
    box-shadow: 2px 2px 2px black;
    padding: 15px;
    margin-top: 45px;

}
#legenda{
text-align: right;
}
#texto {
    
    height: auto;
    width: 90%;
    margin: auto;
}

h1, h2{
    text-align: center;
}

footer {
    text-align: center;
}

.col30{
width: 30%;
border: 1px solid red;
}

.col70{
width: 70%;
border: 1px solid blue;
}

.row{
border: 2px purple;
display: flex;
}